<ul th:fragment="sidebar" class="nav nav-pills flex-column mb-auto">
	<li class="nav-item" th:if='${@viewAuth.allowed("ROLE_CUSTOMER_FUNCTION")}'>
		<a data-id="customers" href="/customers" class="nav-link text-white" tabindex="-1">
			<i class="bi bi-person-badge"></i>&nbsp;
			客戶資訊
		</a>
	</li>
	<li class="nav-item" th:if='${@viewAuth.allowed("ROLE_UNSOLVED_FUNCTION")}'>
		<a data-id="unsolved" href="/unsolved" class="nav-link text-white" tabindex="-1">
			<i class="bi bi-exclamation-circle-fill"></i>&nbsp;
			未解決案件
		</a>
	</li>
	<li class="nav-item" th:if='${@viewAuth.allowed("ROLE_MAINTENANCE_FUNCTION")}'>
		<a data-id="maintenance" href="/maintenance" class="nav-link text-white" tabindex="-1">
			<i class="bi bi-hospital"></i>&nbsp;
			保養維護
		</a>
	</li>
	<li class="nav-item" th:if='${@viewAuth.allowed("ROLE_KNOWLEDGE_FUNCTION")}'>
		<a data-id="knowledge" href="/knowledge" class="nav-link text-white" tabindex="-1">
			<i class="bi bi-chat-square-text-fill"></i>&nbsp;
			知識庫
		</a>
	</li>
	<li class="nav-item" th:if='${@viewAuth.allowed("ROLE_SEARCH_FUNCTION")}'>
		<a data-id="search" href="/search" class="nav-link text-white" tabindex="-1">
			<i class="bi bi-search"></i>&nbsp;
			進階搜尋
		</a>
	</li>	
	<li class="nav-item" th:if='${@viewAuth.allowed("ROLE_SOFTWARE_FUNCTION")}'>
		<a data-id="software" href="/software" class="nav-link text-white" tabindex="-1">
			<i class="bi bi-tools"></i>&nbsp;
			軟體及工具
		</a>
	</li>
	<li class="nav-item" th:if='${@viewAuth.allowed("ROLE_USERMGR_FUNCTION")}'>
		<a data-id="userMgr" href="/userMgr" class="nav-link text-white" tabindex="-1">
			<i class="bi bi-people-fill"></i>&nbsp;
			使用者管理
		</a>
	</li>
</ul>