<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clear.html}">

<head>
	<title>Example</title>
	<script th:inline="javascript">
		$(() => {
			
			const rowid = /*[[${rowid}]]*/ "";
			
			const rows = [];
			
			const doQuery = () => {
				HttpUtils.doPost({
					url: "/templates/getTemplate/" + rowid,
					success: (response) => {
						document.getElementById("name").value = response.data.name
						const list = JSON.parse(response.data.infoColumns)
						list.forEach(item => {
							rows.push({
								label: item
							})
						})
						renderRows();
					}
				})
			}
			
			$("#save-btn").click(() => {
				
				const name = document.getElementById("name").value;
				
				if(!name){
					PromptUtils.warning("範本名稱不能為空");
					return;
				}
				
				const infoColumns = []
	
				rows.forEach(row => {
					infoColumns.push(row.label)
				})
				
				HttpUtils.doPost({
					url: "/templates/edit/" + rowid,
					data: {
						name: name,
						infoColumns: JSON.stringify(infoColumns),
					},
					success: (response) => {
						if(response.data){
							DialogUtils.closeWindow(window, true);							
						}
					}
				})
				
			});
			
			
			const renderRows = () => {
				const myrows = document.getElementById("myrows");
				myrows.innerHTML = "";
				
				rows.forEach((item, index) => {
					myrows.appendChild( createDynamicRowElement(index, item) )
				})
			};
			
			const createDynamicRowElement = (index, item) => {
				const tr = ElementUtils.createElement(`
					<tr>
						<td>
							<button data-up class="btn btn-secondary">
								<i class="bi bi-arrow-up"></i>
							</button>
						</td>
						<td>
							<button data-down class="btn btn-secondary">
								<i class="bi bi-arrow-down"></i>
							</button>
						</td>
						<td>
							<input data-label type="text" class="form-control"/>
						</td>
						<td>
							<button data-delete class="btn btn-danger">
								<i class="bi bi-trash3"></i>
							</button>
						</td>						
					</tr>				
				`)
				
				if(index === 0){
					tr.querySelector("[data-up]").remove()
				} else {
					tr.querySelector("[data-up]").addEventListener("click", () => {
						upRow(index);
					})
				}
				
				tr.querySelector("[data-label]").value = item.label;
				
				$("[data-label]", tr).on("input", () => {
					item.label = tr.querySelector("[data-label]").value
				})
			
				
				if(index >= rows.length - 1){
					tr.querySelector("[data-down]").remove()
				} else {
					tr.querySelector("[data-down]").addEventListener("click", () => {
						downRow(index);
					})
				}
				
				tr.querySelector("[data-delete]").addEventListener("click", () => {
					removeRow(index);
				})
				
				return tr;
				
			};
			
			const addRow = () => {
				rows.push({
					label: ""
				})
				renderRows();
			}
			
			const removeRow = (index) => {
				rows.splice(index, 1);
				renderRows();
			};
			
			const upRow = (index) => {
				if(index <= 0){
					return;
				}
				const tmp = rows[index - 1];
				rows[index - 1] = rows[index];
				rows[index] = tmp;
				renderRows();
			}
			
			const downRow = (index) => {
				if(index >= rows.length){
					return;
				}
				const tmp = rows[index + 1];
				rows[index + 1] = rows[index];
				rows[index] = tmp;
				renderRows();
			}
			
			document.getElementById("add-btn").addEventListener("click", ()=>{
				addRow();
			})
			
			document.getElementById("template-btn").addEventListener("click", ()=>{
				DialogUtils.window({
					title: "選擇範本",
					url: "/templates",
					callback: (rtnVal) => {
						if(rtnVal?.column){
							rtnVal.column.forEach((item) => {
								rows.push({
									label: item
								})
								renderRows();
							})
						}
					}
				})
			})
			
			
			doQuery();
			
		})
	</script>
</head>

<body layout:fragment="content">
	<div class="d-flex justify-content-between">
		<button id="template-btn" type="button" class="btn btn-primary">加入範本</button>
		<button id="save-btn" type="button" class="btn btn-success">編輯範本</button>
	</div>
	
	<div class="input-group my-4">
		<div class="input-group-text">
			範本名稱
			<span class="text-danger">*</span>
		</div>
		<input type="text" class="form-control" id="name">
    </div>
	
	<table class="table my-2">
		<thead class="none-select">
			<tr>
				<th style="width: 58px;">上移</th>
				<th style="width: 58px;">下移</th>
				<th>名稱</th>
				<th style="width: 58px;">刪除</th>
			</tr>
		</thead>
		<tbody id="myrows"></tbody>
	</table>
	
	<div class="text-start">
		<button id="add-btn" type="button" class="btn btn-success">增加一行</button>
	</div>
	
	<br />
</body>

</html>