<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/page.html}">

<head>
	<title>客戶服務系統-新增客戶</title>
	<script th:inline="javascript">
		$(() => {
			DocumentUtils.setSideBarActived("customers");
			
			$("#save-btn").click(() => {
				
				const formData = new FormData(document.getElementById("myform"));
			    const data = {};
			    formData.forEach((value, key) => {
			        data[key] = value;
			    });
				
				if(!data.dname){
					PromptUtils.warning("顯示名稱為必填！")
					return;
				}
				
				HttpUtils.doPost({
					url: "/customers/createCustomer",
					data: data,
					success: (response) => {
						if(response.data){
							DialogUtils.alert({
								title: "訊息",
								text: "新增成功！",
								callback: () => {
									window.location.href = "/customers";
								}
							});
						}
					}
				})
				
			})
			
			ElementUtils.selectOptions({
				select: document.getElementById("industry"),
				items: [
					"",
					"傳統製造業",
					"傳統服務業",
					"金融業",
					"資訊服務",
					"半導體",
					"通訊網路",
					"電腦與周邊",
					"其他電子",
					"政府機構",
					"財團法人",
					"其他",
				].map(item => ({ text: item, value: item})),
				selectedValue: ""
			})
			
		});
	</script>
</head>

<body layout:fragment="content">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/customers">客戶資訊</a></li>
			<li class="breadcrumb-item active" aria-current="page">新增客戶</li>
		</ol>
	</nav>
	
	<div class="d-flex justify-content-between">
		<button onclick="history.back()" type="button" class="btn btn-secondary">返回</button>
		<button id="save-btn" type="button" class="btn btn-success">新增</button>
	</div>
	
	<br />
	
	<div class="container">
		<form id="myform" class="row g-3 py-3">
			<div class="col-md-12">
				<label for="dname" class="form-label">
					顯示名稱
					<span class="text-danger">*</span>
				</label>
				<input type="text" class="form-control" id="dname" name="dname" />
			</div>
			
			<div class="col-md-6">
				<label for="cname" class="form-label">中文名稱</label>
				<input type="text" class="form-control" id="cname" name="cname" />
			</div>
			
			<div class="col-md-6">
				<label for="ename" class="form-label">英文名稱</label>
				<input type="text" class="form-control" id="ename" name="ename" />
			</div>
			
			<div class="col-md-6">
				<label for="unumber" class="form-label">統一編號</label>
				<input type="text" class="form-control" id="unumber" name="unumber" />
			</div>
			
			<div class="col-md-6">
				<label for="phone" class="form-label">電話號碼</label>
				<input type="text" class="form-control" id="phone" name="phone" />
			</div>
			
			<div class="col-md-12">
				<label for="address" class="form-label">地址</label>
				<input type="text" class="form-control" id="address" name="address" />
			</div>
			
			<div class="col-md-6">
				<label for="industry" class="form-label">產業</label>
				<select class="form-select" id="industry" name="industry"></select>
			</div>
			
			<div class="col-md-6">
				<label for="website" class="form-label">網站</label>
				<input type="text" class="form-control" id="website" name="website" />
			</div>
			
			<div class="col-md-12">
				<label for="memo" class="form-label">備註</label>
				<textarea class="form-control" id="memo" name="memo" rows="3"></textarea>
			</div>
			
		</form>
		
	</div>
	
	
	
</body>

</html>