<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clear.html}">

<head>
	<script th:inline="javascript">
		
		const rowid = /*[[${rowid}]]*/ "";
		
		$(() => {
			
			const queryContacts = (value) => {
				HttpUtils.doPost({
					url : "/customers/qryContacts/" + rowid,
					success: (response) => {
						ElementUtils.createDropdownTextField({
							div: document.getElementById("contactPerson-select"),
							id: "contactPerson",
							values: response.data.map(r => r.dname),
							value: ""
						})
					}
				})
			}
			
			const queryServiceRecordTypes = (value) => {
				HttpUtils.doPost({
					url : "/customers/qryServiceRecordTypes",
					success: (response) => {
						ElementUtils.createDropdownTextField({
							div: document.getElementById("serviceType-select"),
							id: "serviceType",
							values: response.data,
							value: ""
						})
					}
				})
			}
			
			const doQuery = () => {
				HttpUtils.doPost({
					url : "/customers/qryServiceRecord/" + rowid,
					success: (response) => {
						$('#serviceSubject').val(response.data.subject)
						$("#handlePerson").val(response.data.handlePerson)
						$("#handleResult").val(response.data.handleResult)
						$("#serviceContent").val(response.data.serviceContent);
						$("#handleContent").val(response.data.handleContent);
						
						$('#serviceDate').val(response.data.serviceDate ? TextUtils.formatDate(new Date(response.data.serviceDate)).substr(0, 16): "")
						$('#handleDate').val(response.data.handleDate ? TextUtils.formatDate(new Date(response.data.handleDate)).substr(0, 16): "")
						
						queryContacts(response.data.contactPerson);
						queryServiceRecordTypes(response.data.serviceType);
					}
				})
			}
			
			$("#serviceDate").datetimepicker();
			$("#handleDate").datetimepicker();
			
			doQuery();
			
			$("#save-btn").click(() => {
				const subject = $('#serviceSubject').val()
				
				if(!subject){
					PromptUtils.warning("名稱為必輸")
					return;
				}
				
				const type = $('#serviceType').val()
				const contactPerson = $("#contactPerson").val()
				
				const serviceDate = $('#serviceDate').val() ? new Date($('#serviceDate').val()) : null
				const handleDate =  $('#handleDate').val() ? new Date($('#handleDate').val()) : null
				
				const handlePerson = $("#handlePerson").val()
				const handleResult = $("#handleResult").val()
				const serviceContent = $("#serviceContent").val();
				const handleContent = $("#handleContent").val();
				
				HttpUtils.doPost({
					url: "/customers/editServiceRecord",
					data: {
						rowid,
						subject,
						type,
						contactPerson,
						serviceDate,
						handlePerson,
						handleResult,
						handleDate,
						serviceContent,
						handleContent
					},
					success: (response) => {
						if(response.data){
							PromptUtils.success("更新服務歷程成功")
							DialogUtils.closeWindow(window, true)
						}
					}
				})
			})
			
			
			$("#delete-btn").click(() => {
				DialogUtils.confirm({
					title: "刪除確認",
					text: "是否要刪除此服務歷程?",
					onConfirm: () => {
						HttpUtils.doPost({
							url: "/customers/delServiceRecord/" + rowid,
							success: (response) => {
								if(response.data){
									PromptUtils.success("刪除服務歷程成功")
									DialogUtils.closeWindow(window, true)
								}
							}
						})
					}
				})
			})
			
		})
		
	</script>
</head>

<body layout:fragment="content">
	<form id="myform" class="row g-3 py-3">
		<div class="col-md-12">
			<label for="serviceSubject" class="form-label">
				名稱
				<span class="text-danger">*</span>
			</label>
			<input type="text" class="form-control" id="serviceSubject" />
		</div>
		
		<div class="col-md-4">
			<label for="serviceType" class="form-label">服務類別</label>
			<div id="serviceType-select"></div>
		</div>
		
		<div class="col-md-4">
			<label for="contactPerson" class="form-label">聯絡對象</label>
			<div id="contactPerson-select"></div>
		</div>		
		
		<div class="col-md-4">
			<label for="serviceDate" class="form-label">事發時間</label>
			<input type="text" class="form-control" id="serviceDate" style="width: 190px" />
		</div>
		
		<div class="col-md-4">
			<label for="handlePerson" class="form-label">處理人員</label>
			<select class="form-select" id="handlePerson" style="width: 190px"></select>
		</div>
		
		<div class="col-md-4">
			<label for="handleResult" class="form-label">處理結果</label>
			<select class="form-select" id="handleResult" style="width: 190px">
				<option value="0">尚未處理</option>
				<option value="1">無法解決</option>
				<option value="2">已解決</option>
			</select>
		</div>
		
		<div class="col-md-4">
			<label for="handleDate" class="form-label">處理時間</label>
			<input type="text" class="form-control" id="handleDate" style="width: 190px" />
		</div>
		
		<div class="col-md-12">
			<label for="serviceContent" class="form-label">服務內容</label>
			<textarea class="form-control" id="serviceContent" rows="3"></textarea>
		</div>
		
		<div class="col-md-12">
			<label for="handleContent" class="form-label">處理內容</label>
			<textarea class="form-control" id="handleContent" rows="3"></textarea>
		</div>
		
	</form>
	
	<div class="d-flex justify-content-between">
		<button id="delete-btn" type="button" class="btn btn-danger">刪除</button>
		<button id="save-btn" type="button" class="btn btn-success">更新</button>
	</div>
	
	<br />
</body>

</html>