<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/clear.html}">

<head>
	<script th:inline="javascript">
		
		const rowid = /*[[${rowid}]]*/ "";
		var customerRowid;
		
		
		$(() => {
			
			const doQuery = () => {
				doQueryServiceRecord(doQueryHandles)
			}
			
			const doQueryServiceRecord = (callback) => {
				HttpUtils.doPost({
					url: "/customers/qryServiceRecord/" + rowid,
					success: (response) => {
						$("#type").val(response.data.type);
						$("#handleResult").val(response.data.handleResult);
						$("#subject").val(response.data.subject);
						$("#service-content").html(response.data.serviceContent)
						
						$("#serviceDate").text(TextUtils.formatDate(new Date(response.data.serviceDate)))
						$("#contactPerson").text(response.data.contactPerson)
						$("#udate").text(TextUtils.formatDate(new Date(response.data.udate)))
						$("#uuser").text(response.data.uuser)
						customerRowid = response.data.customerRowid;
						renderAttachements(response.data.files);
						callback()
					}
				})
			}
			
			const doQueryHandles = () => {
				HttpUtils.doPost({
					url: "/customers/qryServiceRecordHandles/" + rowid,
					success: (response) => {
						renderHandles(response.data)
					}
				})
			}
			
			const renderAttachements = (files) => {
				const div = document.getElementById("service-attachments");
				div.innerHTML = "";
				if(files.length === 0){
					div.classList.add("d-none")
				} else {
					div.classList.remove("d-none")
					files.forEach(file => {
						div.appendChild(
							generateAttachementElement(file)
						)
					})
				}
				
			}
			
			const generateAttachementElement = (file) => {
				const title = `檔案大小:${TextUtils.formatFileSizeNum(file.size)}\n檔案日期:${TextUtils.formatDate(new Date(file.udate))}`
				const href = `/customers/serviceRecord/${customerRowid}/attachement/${rowid}/${decodeURI(file.name)}`
				return ElementUtils.createElement(`
					<a target="_blank" class="text-decoration-none mx-2" title="${title}" href="${href}">
						${ElementUtils.createFileIcon(file.name).outerHTML}
						${file.name}
					</a>
				`)
			}
			
			const renderHandles = (items) => {
				const handles = document.getElementById("handles");
				handles.innerHTML = "";
				items.forEach(item => {
					handles.appendChild(
						generateHandleElement(item)
					)
				})
			}
			
			const openEditHandle = (handleRowid) => {
				DialogUtils.window({
					title: "編輯服務處理結果",
					url: "/customers/editServiceRecordHandle/" + handleRowid,
					callback : (rtnVal) => {
						if(rtnVal){
							doQuery();
						}
					}					
				})
			}
			
			const generateHandleElement = (item) => {
				const handle = ElementUtils.createElement(`
					<div class="my-4" style="background: white;">
						<div class="text-secondary d-flex justify-content-between border-start border-top border-end p-2">
							<span>
								<span>處理日期:</span>
								<span data-handle-date></span>
							</span>
							<span>
								<span>更新日期:</span>
								<span data-udate></span>
							</span>
							<span>
								<span>處理人員:</span>
								<span data-handlePerson></span>
							</span>
							<a data-edit class="clickable underline text-primary">
								<i class="bi bi-pencil-fill"></i>
								編輯處理紀錄
							</a>
						</div>
						<div data-content class="border p-2" style="min-height: 300px;"></div>
						<div data-attachements class="d-flex justify-content-start border-start  border-bottom border-end py-2"></div>
					</div>
				`)
				
				const content = handle.querySelector("[data-content]")
				const attachements = handle.querySelector("[data-attachements]")
				const handleDate = handle.querySelector("[data-handle-date]")
				const udate = handle.querySelector("[data-udate]")
				const handlePerson = handle.querySelector("[data-handlePerson]")
				
				content.innerHTML = item.handleContent;
				
				if(item.files.length === 0){
					$(attachements).remove();
				} else {
					item.files.forEach(file => {
						attachements.appendChild(
							generateAttachementElement(file)
						)
					})
				}
				
				handleDate.innerText = TextUtils.formatDate(new Date(item.handleDate))
				udate.innerText =  TextUtils.formatDate(new Date(item.udate))
				handlePerson.innerText =  item.handlePerson
				
				const edit = handle.querySelector("[data-edit]")
				
				edit.addEventListener("click", () => {
					openEditHandle(item.rowid);
				})
				
				return handle;
				
			}
			
			const openEditServiceRecord = () => {
				DialogUtils.window({
					title: "編輯服務紀錄",
					url: "/customers/editServiceRecord/" + rowid,
					width: "calc(100dvw - 20px)",
					height: "calc(100vh - 122px);",
					callback : (rtnVal) => {
						if(rtnVal){
							if(rtnVal.action === 'delete'){
								DialogUtils.closeWindow(window, true)
							} else if(rtnVal.action === 'edit'){
								doQuery();
							}
						}
					}					
				})
			}
			
			const openAddHandle = () => {
				DialogUtils.window({
					title: "新增處理結果",
					url: "/customers/createServiceRecordHandle/" + rowid,
					callback : (rtnVal) => {
						if(rtnVal){
							doQuery();
						}
					}					
				})
			}
			
			$("#edit-service-record-btn").click(() => {
				openEditServiceRecord()
			})
			
			doQuery();
			
			$("#add-handle-btn").click(() => {
				openAddHandle()
			})
			
		})
		
	</script>
</head>

<body layout:fragment="content" style="background: #F9F9F9;">
	
	<div style="background: white;">
		<div class="input-group mb-1">
			<div class="input-group-text">類別</div>
			<input type="text" class="form-control" id="type" readonly style="max-width: 170px;; background: white;" />
			<div class="input-group-text">處理狀態</div>
			<input type="text" class="form-control" id="handleResult" readonly style="max-width: 170px;; background: white;" />
			<div class="input-group-text">名稱</div>
			<input type="text" class="form-control" id="subject" readonly style="background: white;" />
	    </div>
		<div class="text-secondary d-flex justify-content-between border-start border-end border-top p-2">
			<span>
				<span>事發日期:</span>
				<span id="serviceDate"></span>
			</span>
			<span>
				<span>聯絡人員:</span>
				<span id="contactPerson"></span>
			</span>
			<span>
				<span>更新日期:</span>
				<span id="udate"></span>
			</span>
			<span>
				<span>更新人員:</span>
				<span id="uuser"></span>
			</span>
			<a id="edit-service-record-btn" class="clickable underline text-primary">
				<i class="bi bi-pencil-fill"></i>
				編輯服務紀錄
			</a>
		</div>
		<div id="service-content" class="border p-2" style="min-height: 300px;"></div>
		<div id="service-attachments" class="d-flex justify-content-start border-start border-bottom border-end py-2"></div>
	</div>
	
	<div class="text-end my-4">
		<button id="add-handle-btn" class="btn btn-success" type="button">新增處理結果</button>
	</div>
	
	<div id="handles"></div>
	
	<br />
</body>

</html>